
main{
  align-content: space-around;
}

body{
  margin: auto;
  display:grid;
  
  align-content: center;
  
}
#vote{
  
  display: grid;
  grid-template-columns: auto;
  align-content: space-evenly;
}

#images{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  
  align-content: center;
  padding: auto;
}

#image > li{
  margin: auto;  
}

img{
  width: 400px;
  height: 400px;
  padding: auto;
}
#header{
  text-align: center;
  font-size: 20px;
}

#results{
  display: grid;
}

#chart{
  margin: auto;
  max-width: 1000px;
  max-height: 800px;
}

#resultsList{
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;

}

.resultLi{
  display: block;
  margin: auto;
}

