
main{
  align-content: space-around;
  background-color: rgb(255, 228, 203);
}

body{
  margin: auto;
  display:grid;
  background-color: rgb(255, 249, 199);
  align-content: center;
  
}
#vote{
  
  display: grid;
  grid-template-columns: auto;
  align-content: space-evenly;
}

#images{
  
  border-radius: 40px;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  
  align-content: center;
  padding: auto;
}

#image > li{
  margin: auto;  
}

img{
  width: 400px;
  height: 400px;
  margin: 10px;
 
  border: 1px rgb(126, 123, 123) solid;
  border-radius: 20px;
}
#header{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 40px;
}

#results{
  display: grid;
  
}

#chart{
  margin: auto;
  max-width: 1000px;
  max-height: 800px; 
  
}

#resultsList{
  display: grid;
  list-style-type: none;  
  grid-template-columns: auto auto auto;
  align-content: center;
  margin: auto;  
}

#resultsList > li{
  font-family: 'Julius Sans One', sans-serif;
  display: block;
  padding: 5px;  
}

.resultLi{
  display: block;
  margin: auto;
}

